.projects {
  margin-top: 5rem;
}

.projects-title {
  text-align: center;
  font-size: 3.8rem;
  margin-bottom: 2rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.project-card {
  background: rgb(59, 59, 59);
  background: linear-gradient(
    90deg,
    rgba(59, 59, 59, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(15, 15, 15, 1) 80%,
    rgba(59, 59, 59, 1) 100%
  );
  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

.above {
  width: 326px;
  height: 183px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 1);
  transition: transform 1s ease-in-out, border-radius 1s ease-in-out;
}

.middle {
  text-align: center;
  padding: 1rem;
}

.middle h3 {
  margin: 1rem;
}

.middle p {
  font-size: 0.875rem;
  width: 100%;
  height: 90px;
  line-height: 1.5rem;
}

.middle span {
  font-size: 0.875rem;
  padding: 0.3rem 0.5rem;
  border-radius: 25px;
  background-color: rgb(80, 107, 26);
  font-weight: bold;
  color: #fff;
}

.below {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.below div {
  width: 100%;
}

.button {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 20%,
    rgba(59, 59, 59, 1) 80%,
    rgba(15, 15, 15, 1) 100%
  );
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.5);
  user-select: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: none;
}

.button:active {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: 85%;
    place-content: center;
  }

  .above:hover {
    transform: scale(1);
    border-radius: 25px 25px 0px 0px;
  }

  .middle p {
    margin-bottom: 1rem;
  }

  .below {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 860px) {
  .projects-container {
    grid-template-columns: 48% 48%;
    place-content: center;
    margin: 0 2rem;
    gap: 3rem;
  }

  .above:hover {
    transform: scale(1);
    border-radius: 25px 25px 0px 0px;
  }

  .below {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (min-width: 860px) and (max-width: 1150px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 2rem;
  }

  .above:hover {
    transform: scale(1);
    border-radius: 25px 25px 0px 0px;
  }
}
